<footer>
    <section class="footer">
        <div class="container">
            <div class="media-container-row">
                <div class="col-md-3">
                    <div class="media-wrap">
                        <a href="/" title="Mephala's Coven">
                           <img src="{{ site.baseurl }}/assets/images/logo-256x256.png" alt="Mephala's Coven" title="">
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <p class="mbr-text align-right links mbr-fonts-style display-7">
                        <a href="{{ site.baseurl }}/terms-of-service/" title="Mephala's Coven Terms of Service" class="text-white">Terms of Service</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ site.baseurl }}/privacy-policy/" title="Mephala's Coven Privacy Policy" class="text-white">Privacy Policy</a>
                    </p>
                </div>
            </div>
            <div class="footer-lower">
                <div class="media-container-row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="media-container-row mbr-white">
                    <div class="col-md-6 copyright">
                        <p class="mbr-text mbr-fonts-style display-7">Content &copy; by Mephala's Coven.<br>The Elder Scrolls&reg; Online developed by ZeniMax Online Studios LLC, a ZeniMax Media company. ZeniMax, The Elder Scrolls, ESO, Bethesda, Bethesda Softworks and related logos are registered trademarks or trademarks of ZeniMax Media Inc. in the US and/or other countries. All Rights Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="social-list align-right">
                            <div class="soc-item">
                                <a href="https://discord.gg/pyunyPD/" title="Mephala's Coven Discord" target="_blank">
                                    <span class="mbr-iconfont mbr-iconfont-social socicon-discord socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.twitch.tv/mephalascoven/" title="Mephala's Coven Twitch" target="_blank">
                                    <span class="mbr-iconfont mbr-iconfont-social socicon-twitch socicon" style="color: rgb(239, 239, 239); fill: rgb(239, 239, 239);"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script src="{{ site.baseurl }}/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/popper/popper.min.js"></script>
    <script src="{{ site.baseurl }}/assets/tether/tether.min.js"></script>
    <script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/smoothscroll/smooth-scroll.js"></script>
    <script src="{{ site.baseurl }}/assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
    <script src="{{ site.baseurl }}/assets/parallax/jarallax.min.js"></script>
    <script src="{{ site.baseurl }}/assets/dropdown/js/script.min.js"></script>
    <script src="{{ site.baseurl }}/assets/theme/js/script.js"></script>
    <script src="{{ site.baseurl }}/assets/externals/jquery-easing/jquery.easing.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/mobile-check.js"></script>
</footer>
