<header>
    <section class="menu" once="menu">
        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="/" title="Mephala's Coven">
                            <img src="{{ site.baseurl }}/assets/images/MelphalasCovenLogo.png" alt="Mephala's Coven" title="Mephala's Coven" style="height: 3.8rem;">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap">
                        <a class="navbar-caption text-white display-4" href="/" title="Mephala's Coven">
                            Mephala's Coven
                        </a>
                    </span>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="{{ site.baseurl }}/#slider_news" title="Mephala's Coven News">
                            <span class="mbri-globe mbr-iconfont mbr-iconfont-btn"></span> News
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="{{ site.baseurl }}/events/" title="Mephala's Coven Events">
                            <span class="mbri-calendar mbr-iconfont mbr-iconfont-btn"></span> Events
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="{{ site.baseurl }}/gallery/" title="Mephala's Coven Gallery">
                            <span class="mbri-photo mbr-iconfont mbr-iconfont-btn"></span> Gallery
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="{{ site.baseurl }}/builds/" title="Mephala's Coven Builds">
                            <span class="mbri-speed mbr-iconfont mbr-iconfont-btn"></span> Builds
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="{{ site.baseurl }}/leaderboards/" title="Mephala's Coven Challenges">
                            <span class="mbri-flag mbr-iconfont mbr-iconfont-btn"></span> Leaderboards
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="{{ site.baseurl }}/twitch/" title="Mephala's Coven Twitch">
                            <span class="socicon socicon-twitch mbr-iconfont mbr-iconfont-btn"></span> Twitch
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
</header>