.ht__event {
    padding-top: 90px;
    padding-bottom: 90px;
    
    &__paragraph {
        font-family: 'Rubik', sans-serif;
        font-size: 24px;
        text-align: center;
        color: $primary-color;
        margin: 20px auto 50px auto;
    }
    &__note {
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        text-align: center;
        color: $primary-color;
        margin-top: 20px;
    }
    &__table {
        margin: 0 auto;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);

        & .row {
            font-weight: 500;
            background-color: #e4e4e4;
            color: #000;

            & span {
                margin: -24px -10px auto 10px;
            }
            &:nth-child(1) {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background-color: $upcoming-hover-color;
                color: #fff;
            }
            &:nth-child(2) {
                background-color: #59829b;
                color: #fff;
            }
            &:nth-child(3) {
                background-color: #a6bcc7;
                color: #fff;
            }
            &:not(:last-child) {
                border-bottom: 1px solid rgb(179, 179, 179);
            }
            &:last-child {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }
}