.guide {
    padding: 50px;
    position: relative;
    &__sup{
        display: inline-block;
        cursor: pointer;
        width: 200px;
        height: auto;
        
        box-sizing: border-box;
        border: 4px solid $primary-color;
        padding: 2px;

        margin: 0 5px 20px 5px;
        & p {
            font-size: 200%;
            text-transform: uppercase;
            font-weight: 400px;
            margin: 0;
            text-align: center;
            color: $primary-color;
            transition: .1s;
        }
        &:hover{
            background-color: $primary-color;
            color: #fff;
        }
        &:hover > p{
            background-color: $primary-color;
            color: #fff;
        }
        &--active {
            background-color: $primary-color;
            color: #fff;
        }
        &--active > p{
            background-color: $primary-color;
            color: #fff;
        }
    }
    &__sub {
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 80%;
        margin: 0 auto;
        transition: .2s;
        &--passive {
            display: none;
            margin-top: -100px;
            
        }
        &--active {
            display: flex;
            margin-top: 0;
        }
        &__content {
            font-size: 140%;
            text-transform: uppercase;
            font-weight: 400px;
            text-align: center;
            width: 23%;
            min-width: 295px;
            color: $primary-color;
            transition: .1s;
            border: 3px solid $primary-color;
            padding: 2px;
            margin-bottom: 5px;
            &:hover {
                background-color: $primary-color;
                color: #fff;
            }
        }
    }
    &__row {
        width: 80%;
        height: auto;
        margin: 0 auto;
        min-height: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    &__button {
        width: 100px;
        height: 100px;
        background-color: red;
        display: block;
        z-index: 1000;
        color: black;
    }
    &__text_row {
        width: 75%;
        height: auto;
        margin: 30px auto 0 auto;
        min-height: 40px;
    }
    &__paragraph {
        font-family: 'Rubik', sans-serif;
        font-size: 120%;
    }
}
