---
layout: default
id: build_overview
---

<section class="header mbr-parallax-background">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1"></h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">Builds</h3>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    Angel's Mighty Frighty Builds!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="build">
    {% for post in site.posts %}
        {% if post.category == "build" %}
            <div class="container align-center">
                <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2">{{ post.header }}</h2>

                <a href="{{ site.baseurl }}/builds/{{ post.subcategory }}/" title="Mephala's Coven Build {{ post.subcategory }}">
                    <div class="media-container-row">
                        <div class="container">
                            <div class="row">
                                <div class="block-content align-right col">
                                    <div class="card pl-3 pr-3 pb-5">
                                        <div class="mbr-crt-title">
                                            <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                                                {{ post.overview[0].title }}
                                            </h4>
                                        </div>
                                        <div class="card-box">
                                            <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                                                {{ post.overview[0].text }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="block-content align-right col">
                                    <div class="card pl-3 pr-3 pt-5">
                                        <div class="mbr-crt-title">
                                            <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                                                {{ post.overview[1].title }}
                                            </h4>
                                        </div>
                                        <div class="card-box">
                                            <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                                                {{ post.overview[1].text }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <img class="build-overview-image" src="{{ site.baseurl }}/assets/images/builds/{{ post.subcategory }}/{{ post.cover.url }}" alt="{{ post.cover.alt }}" title="{{ post.cover.title }}" style="width:100%">
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="block-content align-left col">
                                    <div class="card pl-3 pr-3 pb-5">
                                        <div class="mbr-crt-title">
                                            <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                                                {{ post.overview[2].title }}
                                            </h4>
                                        </div>
                                        <div class="card-box">
                                            <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                                                {{ post.overview[2].text }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="block-content align-left col">
                                    <div class="card pl-3 pr-3 pt-5">
                                        <div class="mbr-crt-title">
                                            <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                                                {{ post.overview[3].title }}
                                            </h4>
                                        </div>
                                        <div class="card-box">
                                            <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                                                {{ post.overview[3].text }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>